code {
  margin: 5px;
  background-color: lightcyan;
  color: black;
}

h1, h2 {
  display: flex;
  flex-direction: row;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 div {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid black;
}

.box2 {
  display: flex;
  align-items: stretch;
}

.box2 div {
  width: 100px;
  height: 200px;
  background-color: aqua;
  border: 1px solid black;
}

.box3 {
  display: flex;
  align-items: flex-start;
  height: 200px;
}

.box3 div {
  width: 100px;
  background-color: aqua;
  border: 1px solid black;
}

.box3>*:first-child {
  align-self: stretch;
}

.box3 .selected {
  align-self: center;
}